/*My Edits: 1. Created flex containers for header and nav ul. 2. Targeted margin-left selector 3. Commented out some of starter code (to be replaced) 4. Added styling and positioning for nav a. 5. Removed list type for ul (all of page). 6. Started to add comments to explain CSS rules. 7. Added styling to h1*/

/*Styles all of page (where not overridden by class/id selector) (all elements’ padding and border are included in width and height)*/
* {
  box-sizing: border-box;
}

/*Styles body of page (where not overridden by class/id selector; the case for all element selectors below) (sets STILL TO FINISH)*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*Styles unordered lists throughout page (removes lists bullet points)*/
ul {
  list-style-type: none;
}

/*INACTIVE - Commented below out from starter code (to be replaced with other CSS styling)
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*

/* **Header/Nav Bar** */

/*Flex container for Header and Nav Links*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

/*Flex container for Nav Links (in unordered list) only*/
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}

/*Repostions Header on Nav Bar*/
.margin-left {
  margin-left: 30px;
}

/*Styling and positioning for Nav Links*/
nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
  margin-right: 30px;
}

/*Styling for Header (REMINDER - will affect other h1s, if not overriden elsewhere)*/
h1 {
  font-size: 300%;
}