/*My Edits: 1. Created flex containers for header and nav ul. 2. Targeted margin-left selector 3. Commented out some of starter code (to be replaced) 4. Added styling and positioning for nav a. 5. Removed list type for ul (all of page). 6. Started to add comments to explain CSS rules. 7. Added styling to h1. 8. Created Grid for About Me, positioned items within it and formatted image size, and text size (in about-text). 9. Added var function for colours and font family. 10. Created Grid for Work, positioned items within it and added background images to items. 11. Created Grid for Work Headings (nested in Work grid), positioned items within it and changed colours, width etc. 12. Added credit reference for adapted code. 13. Adding styling to links in Work section (removed underlining) 14. Repositioned Work header in Work grid*/

/*var() function for colours and font family (for use across page where variable added)*/
:root {
  --dark: black;
  --light: white;
  --font-family: "Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
}

/*Styles all of page (where not overridden by class/id selector due to CSS specificity) (all elements’ padding and border are included in width and height)*/
* {
  box-sizing: border-box;
}

/*Styles body of page (where not overridden by class/id selector; the case for all element selectors below) (STILL TO FINISH)*/
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--light)
}

/*Styles paragraphs, h2-h6, ul lists and links throughout page, as per variable function*/

p,h2,h3,h4,h5,h6,a,ul {
  color: var(--dark);
  font-family: var(--font-family);
}

/*Styles unordered lists throughout page (removes lists bullet points)*/
ul {
  list-style-type: none;
}

/*INACTIVE - Commented below out from starter code (to be replaced with other CSS styling)
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*

/* **Header/Nav Bar** */

/*Flex container for Header and Nav Links, and formatting for Header as per var function*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-family);
}

/*Flex container for Nav Links (in unordered list) only*/
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}

/*Repostions Header on Nav Bar*/
.margin-left {
  margin-left: 30px;
}

/*Styling and positioning for Nav Links, and colour as per var function*/
nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
  margin-right: 30px;
  color: var(--light);
}

/*Styling for Header (REMINDER: this styling will affect other h1s, if not overriden by class/id selector elsewhere)*/
h1 {
  font-size: 300%;
}

/* **About Me Section** */

/*Grid for About Me section (used id so can link to this)*/
#about {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 20% 65%;
  grid-column-gap: 1em;
 }

 /*Postions Header in About grid cell (and in Work grid)*/
.about-header, #work-header {
  justify-self: right;
  margin-right: 20px;
}

/*Sizing for image in About grid cell (so it will fill and adapt according to grid size; used id so won't be overridden)*/
#about img {
  max-width: 100%;
  height: auto;
  }

/*Postions Text in About grid cell and sizes the font*/
.about-text {
  align-self: center;
  padding-right: 10%;
  font-size: 150%;
}

/* **Work Section** */

/*Grid for Work section (grid-template areas defined so that work-big will appear larger than work-2 to 5 as per spec; used id so can link to this; positioned relative for work-header-2 to be absolute)*/
#work {
  margin: 0px 5%;
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 10% 45% 45%;
  grid-template-areas: "work-header work-big work-big" ". work-2 work-3" ". work-4 work-5";
}

/*Styling for links in Work section (removes line)*/
#work a {
  text-decoration: none;
}

/*Positions Work Header in Work grid*/
#work-header {
  grid-area: work-header;
}

/*Positions items in Work grid and adds background image of projects (used ids so won't be overridden)*/
#work-big {
  grid-area: work-big;
  background-image: url(../images/01-html-css-git-challenge.png);
}

/*REMINDER: To add other projects, update background-images in #work-2 to 5*/
#work-2 {
  grid-area: work-2;
  background-image: url(../images/green-placeholder.jpg);
}

#work-3 {
  grid-area: work-3;
  background-image: url(../images/green-placeholder.jpg);
}

#work-4 {
  grid-area: work-4;
  background-image: url(../images/green-placeholder.jpg);
}

#work-5 {
  grid-area: work-5;
  background-image: url(../images/green-placeholder.jpg);
}

/*Grid for Work Item Headers (within Work Grid)*/ /*CREDIT: code for this grid and work-header-2 below adapted from edX (2023) Skillsbootcamp in Front End Web Dev: Module 2: Lesson 02: Activity 02*/ /*Changed colours and size/positioning of headers using justify-self and changing max-width*/

.work-grid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.work-header-2 {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid black;
  justify-self: end;
  padding: 25px;
  max-width: 100%;
  z-index: 100;
}